.Card {
    width: 320px;
    height: 225px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 2rem 4rem rgba(0,0,0, 0.25);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover {
transform: scale(1.1, 1.1);
box-shadow: 0 3rem 6rem rgba(0,0,0, 0.5);
}

.Card img {
    position: absolute;
    top: 0;
    height: 110%;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card img {
    position: absolute;
    top: 0;
    height: 110%;
    z-index: -1;
}

.Card h3 {
    color: white;
    font-size: 3rem;
    margin: 2rem 0 0 2rem;
    width: 190px;
}

.Card p {
    color: rgba(255,255,255, 0.8);
    text-transform: uppercase;
    margin: 0 0 2rem 2rem;
    font-weight: 600;
    font-size: 1.8rem;
    align-self: end;
}